body {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.content-placeholder {
  /* padding: 100px 20px; */
  transform-origin: top center;
}

section {
  overflow: hidden;
}

@media (max-width: 600px) {
  .content-placeholder {
    /* padding-left: 20px; */
  }
}

.nepoetTitle {
  /* text-align: center; */
}